/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.details{
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  margin-top: -200px; 
  margin-left: 200px;
}
